<h2> <%= @kitten.name %> </h2>

<ul>
  age: <%= @kitten.age %> <br>
  cuteness: <%= @kitten.cuteness %> <br>
  softness: <%= @kitten.softness %> 
</ul>

<div><%= link_to "edit your cat", edit_kitten_path %> </div> <br>

